<% if notice.present? %>
  <article class="message is-success">
    <div id="notice" class="message-body">
     <%= notice %>
    </div>
  </article>
<% end %>

<article class="message is-dark">
  <div class="message-header">
    <p>Cursos</p>
  </div>
 </article> 


 <div class="box">
  <div class="field is-horizontal">
    <%= search_form_for @q do |f| %>

    <div class="field-body">
      <div class="field">
        <label class="label">Nome do Curso</label>
        <div class="control">
          <%= f.search_field :name_cont,label: false ,class: 'input'%>
        </div>
      </div>

      <div class="field">
        <label class="label">Nota</label>
        <div class="control">
          <%= f.search_field :rate_eq,label: false ,class: 'input'%>
        </div>
      </div>

      <div class="field">
        <label class="label">Média dos alunos</label>
        <div class="control">
          <%= f.search_field :average_students_eq,label: false ,class: 'input'%>
        </div>
      </div>
    </div>
    <br>
    <div class="field-body">
      <div class="field">
        <label class="label">Universidade</label>
        <div class="control">
          <%= f.search_field :university_name_cont,label: false ,class: 'input'%>
        </div>
      </div>
      <div class="field">
        <label class="label">Nota Geral da Universidade</label>
        <div class="control">
          <%= f.search_field :university_geral_rate_eq,label: false ,class: 'input'%>
        </div>
      </div>
    </div>

  </div>
</div>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= f.submit class: "button is-primary" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <br>
 <div class="box">

 <div class="columns is-gapless is-multiline is-mobile">
   <%= paginate @courses %>
 </div>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nota</th>
      <th>Média</th>
      <th>Universidade</th>
      <th>Nota Geral</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.rate %></td>
        <td><%= course.average_students %></td>
        <td><%= course.university.name %></td>
        <td><%= course.university.geral_rate %></td>
        <td>
          <%= link_to course, data: { toggle: 'tooltip', placement: 'top', title: 'Visualizar' }, class: 'button is-primary' do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
